@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    margin: 30px;
    font-family: "Poppins";
    background: rgba(0, 0, 255, 0.25);
}

.grid__container{
}

.grid__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.grid__cards > div:nth-child(1){
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    place-items: center;
    margin-bottom: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.grid__cards 

.grid__cards > div:not(:first-child){
    border: 2px solid red;
}



/* CONTROLLING THE IMAGE */

img{
    width: 100%;
    border: 4px solid #eee;
    border-radius: 15px;
}


/* CSS GRID */
@media screen and (max-width: 980px) {
    .grid__cards > div:not(:first-child){
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: center;
    }
}


@media screen and (max-width: 768px){
    .grid__cards > div:not(:first-child),
    .grid__cards > div:first-child{
        display: block;
    }
}